<main>
  <section>
    <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
      <label
        ><span>Name:</span>
        <input type="text" formControlName="name" />
      </label>

      <label
        ><span>Age:</span>
        <input type="number" formControlName="age" />
      </label>

      <label>
        <input type="checkbox" formControlName="noContact" />
        <span>No Contact Information</span>
      </label>

      <fieldset
        *ifApplicable="
          !personForm.get('noContact')!.value;
          control: personForm.get('contact')
        "
        formGroupName="contact"
      >
        <legend>Contact Information</legend>

        <label
          ><span>Email:</span>
          <input type="email" formControlName="email" />
        </label>

        <label
          ><span>Phone:</span>
          <input type="tel" formControlName="phone" />
        </label>

        <label>
          <input type="checkbox" formControlName="noAddress" />
          <span>No Address</span>
        </label>

        <fieldset
          *ifApplicable="
            !personForm.get('contact.noAddress')!.value;
            control: personForm.get('contact.address')
          "
          formGroupName="address"
        >
          <legend>Address Information</legend>

          <label
            ><span>Street:</span>
            <input type="text" formControlName="street" />
          </label>

          <label
            ><span>City:</span>
            <input type="text" formControlName="city" />
          </label>

          <label
            ><span>Country:</span>
            <input type="text" formControlName="country" />
          </label>
        </fieldset>
      </fieldset>

      <button type="submit" [disabled]="personForm.invalid">Submit</button>
    </form>
  </section>

  <section>
    <ng-container
      *ngTemplateOutlet="
        controlInfo;
        context: { control: personForm.get('name'), name: 'Name' }
      "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
        controlInfo;
        context: { control: personForm.get('age'), name: 'Age' }
      "
    ></ng-container>
    <br />
    <br />
    <br />
    <ng-container
      *ngTemplateOutlet="
        controlInfo;
        context: { control: personForm.get('contact.email'), name: 'Email' }
      "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
        controlInfo;
        context: { control: personForm.get('contact.phone'), name: 'Phone' }
      "
    ></ng-container>
    <br />
    <br />
    <br />
    <br />
    <br />
    <ng-container
      *ngTemplateOutlet="
        controlInfo;
        context: {
          control: personForm.get('contact.address.street'),
          name: 'Street'
        }
      "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
        controlInfo;
        context: {
          control: personForm.get('contact.address.city'),
          name: 'City'
        }
      "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
        controlInfo;
        context: {
          control: personForm.get('contact.address.country'),
          name: 'Country'
        }
      "
    ></ng-container>
  </section>
</main>

<div>
  <h2>result</h2>
  <pre>{{ personForm.value | json }}</pre>
</div>

<ng-template #controlInfo let-control="control" let-name="name">
  <label>
    <span>{{ name }}</span>
    <span
      >valid: <b>{{ control?.valid }}</b></span
    >
    <span
      >enabled: <b>{{ control?.enabled }}</b></span
    >
  </label>
</ng-template>
